.myBG {
   height: 100vh;
   background-size: cover;
   background-position: center;
}

.background-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: -1;
   filter: brightness(50%);  
}


.intro {
   height: 300px;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}

.title {
   font-size: 3rem;
   font-weight: 800;
   line-height: 1;
   text-shadow: 2px 2px black;
   letter-spacing: 4px;
   margin-bottom: 20px;
}

.all-game {
   height: auto;
   background: url("../assets/bg/bg3.png");
   background-size: cover;
}

.trending {
   height: auto;
   background: url("../assets/bg/bg4.jpg");
   background-size: cover;
}

.best {
   height: auto;
   background: url("../assets/bg/bg5.jpg");
   background-size: cover;
}

.gameImage {
   height: auto;
   background-color: black;
   margin: 5px;
   padding: 5px;
}

.images {
   height: 500px;
}